body{
    background-color: #131313;
    /*background-image: url("/home/anon/Pictures/Wallpapers/grey.jpg");*/
}

a{
    text-decoration: none;
    color: black;
}

#display{
    display: inline;
}

#margins{
    margin-top: auto;
    margin-left: 41%;
}

#padding{
    padding: 5px;
}

#buttonstyle{
    height: 90px;
    width: 200px;
    border-radius: 2px;
    border: 1px black solid;
    position: relative;
    background-color: #5858FA;
    text-align: center;
}

.hyperspan {
    position:absolute;
    width: 100%;
    height:100%;
    left:0;
    top:0;
    z-index: 1;
}

.linktext{
    font-size: 20pt;
}















/*
.table{
    margin-left: 30%;
    margin-top: 20%;
    border: 1px solid black;
    table-layout: fixed;
    width: 500px;
}

.button{
    border-radius: 2px;
    border: 15px #5858FA solid; 
    color: black;
    background-color: #5858FA;
    text-align: center;
}    
*/