
body {
	background: #1F222D;
}

.mainWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40%;
    height: 90vh;
}

#button {
    width: 250px;
    height: 100px;
    position: relative;
    background: #36588e;
    border-style: solid;
    border-width: 6px;
    border-color: #1F222D;
    border-radius: 5px;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}


