body {
	background: #1F222D;
}

#left {
	float: left;
}

#centre {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#button {
    width: 15%;
    height: 20%;
    position: relative;
    background: #36588e;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: 30px;
    font-family: sans-serif;
}

#right {
	float: right;
	margin: 0;
	padding: 0;
	background: black;
}

canvas {display: block;}


a {
	text-decoration: none;
	color: inherit;
}
